@use 'src/index.scss';

.other-medal {
  font-size: 1rem;

  @include index.fullwidth-main-card;

  border-bottom: 1px solid index.$primary-light-color;
  background-color: index.$primary-dark-color;

  @include index.tablet {
    font-size: 1.1rem;
  }

  @include index.desktop {
    font-size: 1.15rem;
  }
}

.citation {
  margin-top: index.$xxs-margin;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6rem;

  @include index.desktop {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}
