@use 'src/index.scss';

.howtocite {
  margin-top: index.$base-margin;

  p {
    @include index.notes-paragraph
  }

  @include index.desktop {
    margin: 0 auto;
    padding: index.$xs-margin 0;
    max-width: 42rem;
  }
}
