@use 'src/index.scss';

.paragraph {
  margin: 0 auto;

  p {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.8rem;

    @include index.desktop {
      font-size: 1.25rem;
      line-height: 2.1rem;
    }

    @include index.large-desktop {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }

  a {
    font-size: 0.9rem;
    vertical-align: super;
    line-height: 80%;
    color: index.$secondary-color;
  }

  @include index.desktop {
    @media screen and (min-width: 62rem) and (max-width: 106rem) {
      margin: 0 auto;
      width: 65%;
    }
  }

  @include index.large-desktop {
    margin: 0 auto;
    width: 65%;
  }
}
