@font-face {
  font-family: 'Mona Sans';
  src: url('./fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('./fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

$mobile: 32rem;
$desktop: 64rem;

@mixin tablet {
  @media screen and (min-width: $mobile) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin component-setup {
  margin: 0 auto;
  width: 75%;
}

$main-font: 'Mona Sans';

$primary-color: rgb(24, 26, 27);
$secondary-color: rgb(44, 46, 47);
$tertiary-color: rgb(173, 161, 120);

$border-radius: 10px;

body {
  max-width: 100%;
  margin: 75px 0;
  font-family: $main-font;
  color: $tertiary-color;
  background-color: $primary-color;

  @include tablet {
    margin: 100px 0;
  }

  @include desktop {
    margin: 150px 0;
  }
}

h1 {
  font-family: $main-font;
  font-size: 40px;
  font-stretch: 85%;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;

  @include tablet {
    font-size: 50px;
    line-height: normal;
  }

  @include desktop {
    font-size: 60px;
    line-height: normal;
  }
}
