@font-face {
  font-family: 'Mona Sans';
  src: url('./fonts/MonaSans/Mona-Sans.woff2')
      format('woff2 supports variations'),
    url('./fonts/MonaSans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

$mobile: 32rem;
$desktop: 64rem;
$desktop-large: 106rem;

@mixin tablet {
  @media screen and (min-width: $mobile) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: $desktop-large) {
    @content;
  }
}

@mixin component-setup {
  margin: 0 auto;
  width: 85%;

  @include tablet {
    width: 65%;
  }

  @include desktop {
    width: 80%;
  }

  @include desktop-large {
    width: 55%;
  }
}

$main-font: 'Mona Sans';
$typewriter-font: 'SpecialElite';
$handwriting-font: 'NothingYouCouldDo';

$primary-dark-color: rgb(24, 26, 27);
$primary-medium-color: rgb(29, 31, 32);
$primary-light-color: rgb(44, 46, 47);
$secondary-color: rgb(153, 131, 100);
$text-color: rgb(159, 154, 143);

$border-radius: 5px;

body {
  max-width: 100%;
  margin: 75px 0;
  font-family: $main-font;
  font-stretch: 85%;
  color: $text-color;
  letter-spacing: 1px;
  line-height: normal;
  background-color: $primary-dark-color;

  @include tablet {
    margin: 100px 0;
  }

  @include desktop {
    margin: 150px 0;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
  }

  @include desktop {
    font-size: 1.75rem;
  }
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  color: $text-color;
  line-height: 1.5;

  @include tablet {
    font-size: 1rem;
  }

  @include desktop {
    font-size: 1.1rem;
  }
}

a {
  text-decoration: none;
}

@mixin text-link {
  padding-bottom: 4px;
  font-weight: 500;
  color: $text-color;
  border-bottom: 1px solid $secondary-color;
  transition: color 0.9s ease-in-out, color 0.9s ease-in-out,
    border-bottom 0.9s ease-in-out, border-bottom 0.9s ease-in-out;

  &:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
  }
}

@mixin button-link {
  border: 1px solid $primary-medium-color;
  border-radius: $border-radius;
  background-color: $primary-light-color;
  transition: border-bottom 0.9s ease-in-out, border-bottom 0.9s ease-in-out,
    border 0.9s ease-in-out, border 0.9s ease-in-out,
    background-color 0.9s ease-in-out, background-color 0.9s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    background-color: $primary-medium-color;
  }
}

.arrow {
  margin: 5px 0 0 20px;
  font-size: 2rem;
  font-weight: 200;
  color: $secondary-color;

  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 3rem;
  }
}

$profile-margin-top: 50px;
$profile-border-bottom: 1px solid $primary-light-color;
