@font-face {
  font-family: 'Mona Sans';
  src: url('./fonts/MonaSans/Mona-Sans.woff2')
      format('woff2 supports variations'),
    url('./fonts/MonaSans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

$mobile: 32rem;
$desktop: 50rem;
$large-desktop: 106rem;

$width: 901px;

@mixin tablet {
  @media screen and (min-width: $mobile) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) and (max-width: $large-desktop) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: $large-desktop) {
    @content;
  }
}

$main-font: 'Mona Sans';

$primary-dark-color: rgb(24, 26, 27);
$primary-medium-color: rgb(29, 31, 32);
$primary-light-color: rgb(44, 46, 47);
$secondary-color: rgb(153, 131, 100);
$text-color: rgb(159, 154, 143);
$placeholder-color: rgb(109, 104, 103);

$xs-margin: 15px;
$s-margin: 20px;
$m-margin: 25px;
$base-margin: 50px;
$l-margin: 75px;
$xl-margin: 100px;
$xxl-margin: 150px;
$xxxl-margin: 200px;

$border-radius: 8px;

@mixin component-margin {
  margin-left: $s-margin;
  margin-right: $s-margin;

  @include tablet {
    margin-left: $m-margin;
    margin-right: $m-margin;
  }

  @include desktop {
    margin-left: $base-margin;
    margin-right: $base-margin;
  }

  @include large-desktop {
    margin-left: $base-margin;
    margin-right: $base-margin;
  }
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: $main-font, Helvetica, sans-serif;
  font-stretch: 90%;
  color: $text-color;
  line-height: normal;
  background-color: $primary-dark-color;

  @include large-desktop {
    width: 1425px;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  font-stretch: 90%;
  line-height: 2rem;

  @include tablet {
    font-size: 3rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 3.5rem;
    line-height: 2.5rem;
  }

  @include large-desktop {
    font-size: 5rem;
    line-height: 4rem;
  }
}

h2 {
  margin: $m-margin 0;
  font-size: 1.4rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
  }

  @include desktop {
    font-size: 1.6rem;
  }

  @include large-desktop {
    font-size: 2rem;
  }
}

h3 {
  margin: $m-margin 0;
  font-size: 1.2rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.3rem;
  }

  @include desktop {
    font-size: 1.4rem;
  }

  @include large-desktop {
    font-size: 1.5rem;
  }
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  color: $text-color;

  @include tablet {
    font-size: 1rem;
  }

  @include desktop {
    font-size: 1.1rem;
  }

  @include large-desktop {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
}

ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

@mixin text-link {
  padding-bottom: 4px;
  font-weight: 500;
  color: $text-color;
  border-bottom: 1px solid $secondary-color;
  transition: color 0.9s ease-in-out, color 0.9s ease-in-out,
    border-bottom 0.9s ease-in-out, border-bottom 0.9s ease-in-out;

  &:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
  }
}

@mixin primary-button-link {
  border: 1px solid $primary-light-color;
  border-radius: $border-radius;
  background-color: $primary-dark-color;
  transition: border-bottom 0.9s ease-in-out, border-bottom 0.9s ease-in-out,
    border 0.9s ease-in-out, border 0.9s ease-in-out,
    background-color 0.9s ease-in-out, background-color 0.9s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    background-color: $primary-light-color;
  }
}

@mixin featured-button-link {
  border: 1px solid rgb(64, 66, 67);
  border-radius: $border-radius;
  background-color: $primary-light-color;
  transition: border-bottom 0.9s ease-in-out, border-bottom 0.9s ease-in-out,
    border 0.9s ease-in-out, border 0.9s ease-in-out,
    background-color 0.9s ease-in-out, background-color 0.9s ease-in-out;
  cursor: pointer;

  @include desktop {
    font-size: 1.35rem;
  }

  @include large-desktop {
    font-size: 1.5rem;
  }

  &:hover {
    border: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    background-color: $primary-medium-color;
  }
}

.arrow {
  margin-top: 5px;
  font-size: 2rem;
  font-weight: 200;
  color: $secondary-color;

  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 3rem;
  }

  @include large-desktop {
    font-size: 3.25rem;
  }
}

$padding-card: 30px 30px 27px 30px;

@mixin fullwidth-main-card {
  max-width: 100%;
  margin: $xs-margin 0;
  padding: $s-margin;
  font-size: 1.15rem;
  background-color: $primary-medium-color;
  border: 1px solid $primary-light-color;
  border-radius: $border-radius;

  @include desktop {
    padding: $padding-card;
    font-size: 1.25rem;
  }

  @include large-desktop {
    padding: $padding-card;
    font-size: 1.5rem;
  }
}

@mixin fullwidth-secondary-card {
  max-width: 100%;
  margin: $xs-margin 0;
  padding: $s-margin;
  font-size: 1.15rem;
  border: 1px solid $primary-light-color;
  border-radius: $border-radius;

  @include desktop {
    padding: $padding-card;
    font-size: 1.25rem;
  }

  @include large-desktop {
    padding: $padding-card;
    font-size: 1.5rem;
  }
}

@mixin halfwidth-cards-container {
  margin: $xs-margin 0;
  display: flex;
  gap: $xs-margin;
}

@mixin halfwidth-card-style {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: $s-margin;
}

@mixin halfwidth-main-card {
  justify-content: flex-end;
  font-size: 1.15rem;
  background-color: $primary-medium-color;
  border: 1px solid $primary-light-color;
  border-radius: $border-radius;

  @include desktop {
    padding: $padding-card;
    font-size: 1.25rem;
  }

  @include large-desktop {
    padding: $padding-card;
    font-size: 1.5rem;
  }
}

@mixin halfwidth-secondary-card {
  justify-content: space-between;
  font-size: 1rem;
  border: 1px solid $primary-light-color;
  border-radius: $border-radius;

  @include tablet {
    font-size: 1.1rem;
  }

  @include desktop {
    padding: $padding-card;
    font-size: 1.15rem;
  }

  @include large-desktop {
    padding: $padding-card;
    font-size: 1.35rem;
  }
}

@mixin halfwidth-secondary-card-title {
  padding-bottom: $xs-margin;
}
