# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# cache
.mypy_cache
.pytest_cache

# coverage
/client/coverage
/server/.coverage
.coverage

#debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
**/node_modules
**/.pnp
.pnp.js

#local env files
.env*.local

# misc
.DS_Store
**/venv
*.pyc

# production
**/build

# typescript
/client/tsconfig.tsbuildinfo
