@use 'src/index.scss';

.roll {
  @include index.component-setup;
}

.letter-container {
  margin: 75px 0;
  width: 60px;
  border-radius: index.$border-radius;
  background-color: index.$text-color;

  @include index.tablet {
    width: 112px;
  }

  @include index.desktop {
    margin: 100px 0;
    width: 125px;
  }
}

.letter-title {
  padding-block-start: 6px;
  font-size: 3rem;
  font-stretch: 85%;
  font-weight: 700;
  color: index.$primary-color;
  text-align: center;

  @include index.tablet {
    padding-block-start: 12px;
    font-size: 5.5rem;
  }

  @include index.desktop {
    padding-block-start: 12px;
    font-size: 6rem;
  }
}

.tunnellers-container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include index.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
