@use 'src/index.scss';

.roll {
  @include index.component-setup;
}

.letter-container {
  margin: 50px 0;
  width: 50px;
  background-color: index.$primary-medium-color;
  border: 1px solid index.$primary-light-color;
  border-radius: index.$border-radius;

  @include index.tablet {
    width: 55px;
  }

  @include index.desktop {
    margin: 75px 0;
    width: 65px;
  }
}

.letter-title {
  margin: 0;
  padding: 6px 8px 2px 8px;
  font-size: 2.5rem;
  font-weight: 700;
  color: index.$text-color;
  text-align: center;

  @include index.tablet {
    padding-top: 6px;
    font-size: 2.75rem;
  }

  @include index.desktop {
    padding-top: 7px;
    font-size: 3.125rem;
  }
}

.tunnellers-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include index.desktop {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
}
