@use 'src/index.scss';

.container {
  @include index.component-margin;

  margin-top: index.$l-margin;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin: index.$m-margin 0;
  }

  @include index.tablet {
    margin-top: index.$xl-margin;
  }

  @include index.desktop {
    margin-top: index.$xxl-margin;
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: index.$base-margin 0;
  gap: index.$s-margin;

  @include index.tablet {
    padding: index.$base-margin 0;
  }

  @include index.desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: index.$l-margin 0;
  }
}

.link-container {
  height: 350px;
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include index.featured-button-link;

  p {
    text-align: left;
  }

  .link-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    padding: index.$m-margin;
    font-size: 1.5rem;
    color: index.$secondary-color;

    p {
      margin: 0 0 5px 0;
      font-size: 1.1rem;
      color: index.$secondary-color;

      @include index.desktop {
        font-size: 1.2rem;
      }
    }

    @include index.tablet {
      padding: index.$m-margin;
      font-size: 1.75rem;
    }

    @include index.desktop {
      padding: index.$padding-card;
      font-size: 1.8rem;
    }
  }
}
