@use 'src/index.scss';

.container {
  @include index.component-margin;
}

.profile {
  @include index.component-margin;

  @include index.desktop {
    margin: 0 auto;
    max-width: index.$inner-width;
    display: flex;
    gap: index.$l-margin;
  }

  .flex-summary {
    @include index.desktop {
      width: 40%;
    }
  }

  .flex-diary {
    @include index.desktop {
      width: 60%;
    }
  }

  .summary {
    @include index.desktop {
      flex-grow: 1;
      text-align: left;
    }
  }
}
