@use 'src/index.scss';

.image-container {
  display: flex;
  margin: index.$xl-margin 0;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: cover;
  object-position: center;
  width: index.$inner-width;
  height: 575px;
  border-radius: index.$border-radius;
  border: 1px solid index.$primary-light-color;
}

.image-legend {
  margin-bottom: index.$base-margin;
  text-align: center;

  .title {
    margin-top: -50px;
    font-size: 1.15rem;
    font-weight: 600;
    color: index.$secondary-color;

    @include index.tablet {
      font-size: 1.25rem;
    }

    @include index.desktop {
      margin-bottom: 12.5px;
      font-size: 1.5rem;
    }
  }

  .captions {
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-style: italic;

    @include index.tablet {
      font-size: 1rem;
    }

    @include index.desktop {
      font-size: 1.15rem;
    }
  }

  .reference {
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: index.$l-margin;

    @include index.tablet {
      font-size: 1rem;
    }

    @include index.desktop {
      font-size: 1.15rem;
    }
  }
}
