@use 'src/index.scss';

.tunneller {
  flex: 100%;
  padding: 25px 25px 22px 25px;

  @include index.link-hover;

  @include index.tablet {
    padding: 30px 30px 27px 30px;
  }

  @include index.desktop {
    padding: 40px 40px 35px 40px;
    flex: 50%;
  }
}

.tunneller p {
  text-align: left;
  line-height: normal;
}

.surname {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 600;
  color: index.$tertiary-color;

  @include index.tablet {
    font-size: 2.5rem;
  }

  @include index.desktop {
    font-size: 2.8125rem;
  }
}

.forename {
  margin: 0;
  font-size: 1.375rem;
  font-weight: 300;
  color: index.$tertiary-color;

  @include index.tablet {
    font-size: 1.75rem;
  }

  @include index.desktop {
    font-size: 1.875rem;
  }
}

.dates {
  margin: 15px 0 0 0;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 2px;
  color: index.$tertiary-color;

  @include index.tablet {
    margin-top: 20px;
    font-size: 1.125rem;
  }

  @include index.desktop {
    margin-top: 25px;
    font-size: 1.125rem;
  }
}
