@use 'src/index.scss';

.menu {
  transition: opacity 0.5s ease;
  position: -webkit-sticky;
  position: sticky;
  top: index.$s-margin;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;

  @include index.component-margin;

  @include index.tablet {
    top: index.$m-margin;
  }

  @include index.desktop {
    margin: 0 auto;
    top: index.$base-margin;
    max-width: 57rem;
  }

  .logo {
    display: flex;
    padding: 0 10px;
    align-items: center;
    height: index.$base-margin;
    border: 1px solid index.$primary-light-color;
    border-radius: index.$border-radius;
    background-color: index.$primary-dark-color;
    transition: border-bottom 0.9s ease-in-out, border-bottom 0.9s ease-in-out,
      border 0.9s ease-in-out, border 0.9s ease-in-out,
      background-color 0.9s ease-in-out, background-color 0.9s ease-in-out;

    img {
      height: 28px;
    }

    &:hover {
      border: 1px solid index.$secondary-color;
      background-color: index.$primary-light-color;
    }
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: index.$xs-margin;
    height: index.$base-margin;
    width: 100%;
    border: 1px solid index.$primary-light-color;
    border-radius: index.$border-radius;
    background-color: index.$primary-medium-color;

    form {
      width: 100%;

      input {
        box-sizing: border-box;
        width: 100%;
        height: index.$base-margin;
        padding: 0 index.$xs-margin;
        font-family: index.$main-font;
        font-weight: 200;
        font-size: 1rem;
        color: index.$text-color;
        border: none;
        border-top-left-radius: index.$border-radius;
        border-bottom-left-radius: index.$border-radius;
        background-color: index.$primary-medium-color;
      }

      input:focus {
        outline: none;
        background-color: index.$primary-light-color;
      }

      ::placeholder {
        color: index.$placeholder-color;
      }
    }

    .search-form-button {
      background-color: transparent;
      border: none;
      margin: 0 10px;
    }
  }
}

.hidden {
  transition: opacity 0.5s ease;
  opacity: 0;
}
