@use 'src/index.scss';

.menu {
  margin-top: index.$s-margin;
  display: flex;
  justify-content: center;
  align-items: center;

  @include index.component-margin;

  @include index.tablet {
    margin-top: index.$m-margin;
  }

  @include index.desktop {
    margin: 0 auto;
    padding: index.$base-margin;
    max-width: 80rem;
  }

  .logo img {
    height: 35px;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: index.$s-margin;
    height: index.$base-margin;
    width: 100%;
    border: 1px solid index.$primary-light-color;
    border-radius: index.$border-radius;
    background-color: index.$primary-medium-color;

    @include index.tablet {
      margin-left: index.$s-margin;
    }

    @include index.desktop {
      margin-left: index.$m-margin;
    }

    form {
      width: 100%;

      input {
        box-sizing: border-box;
        width: 100%;
        height: index.$base-margin;
        padding: 0 index.$xs-margin;
        font-family: index.$main-font;
        font-weight: 300;
        font-size: 0.9rem;
        color: index.$text-color;
        border: none;
        border-top-left-radius: index.$border-radius;
        border-bottom-left-radius: index.$border-radius;
        background-color: index.$primary-medium-color;
      }

      input:focus {
        outline: none;
        background-color: index.$primary-light-color;
      }

      ::placeholder {
        color: index.$placeholder-color;
      }
    }

    .search-form-button {
      background-color: transparent;
      border: none;
      margin: 0 10px;
    }
  }
}
