@use 'src/index.scss';

.timeline {
  margin-bottom: index.$m-margin;
  font-weight: 600;
  color: index.$text-color;
  text-align: left;

  p {
    margin: 0;
    font-size: 1rem;
  }

  @include index.component-margin;

  .back {
    margin: 0 0 index.$m-margin 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: index.$text-color;

    .profile {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  .line {
    border-left: 1px solid index.$primary-light-color;
    margin-left: index.$m-margin;
  }

  .date {
    margin-left: -10px;
    padding: index.$xs-margin 0;
    background-color: index.$primary-dark-color;

    .year {
      font-size: 1.15rem;
      font-weight: 600;
    }

    .day-month {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  .event-wrapper {
    margin: index.$s-margin 0;
  }

  .main-event {
    @include index.fullwidth-main-card;

    margin-left: -25px;

    .disease {
      display: block;
      padding-bottom: index.$xs-margin;
      font-size: 1rem;
      font-weight: 300;
    }
  }

  .company-event {
    margin-left: -25px;
    border-radius: index.$border-radius;
    border: 1px solid index.$primary-light-color;
    background-color: index.$primary-medium-color;

    p {
      padding: index.$s-margin;
    }

    img {
      max-width: calc(100% - 1px);
      width: 100%;
      border: 1px solid index.$primary-light-color;
      border-top-right-radius: index.$border-radius;
      border-top-left-radius: index.$border-radius;
      filter: grayscale(100%);
    }
  }

  .tunneller-event-with-title {
    @include index.fullwidth-main-card;

    margin-left: -10px;
    border-bottom: 1px solid index.$primary-light-color;
    background-color: index.$primary-dark-color;
  }

  .tunneller-event {
    @include index.fullwidth-secondary-card;

    margin-left: -10px;
    border-bottom: 1px solid index.$primary-light-color;
    background-color: index.$primary-dark-color;

    p {
      font-size: 1rem;
    }

    span {
      font-weight: 300;
    }
  }
}
