@use 'src/index.scss';

.timeline {
  margin-bottom: index.$l-margin;
  font-weight: 600;
  color: index.$text-color;
  text-align: left;

  @include index.component-margin;

  @include index.tablet {
    margin-bottom: index.$xl-margin;
  }

  @include index.desktop {
    margin-bottom: index.$xl-margin;
  }

  @include index.large-desktop {
    margin-bottom: index.$xl-margin;
  }

  p {
    margin: 0;
    font-size: 1rem;

    @include index.desktop {
      font-size: 1.1rem;
    }

    @include index.large-desktop {
      font-size: 1.25rem;
    }
  }

  .sub-title {
    display: block;
    font-weight: 300;
    line-height: normal;
  }

  .link {
    margin-top: index.$base-margin;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;

    @include index.desktop {
      margin-top: index.$l-margin;
    }

    @include index.large-desktop {
      margin-top: index.$xl-margin;
      font-size: 1.25rem;
    }

    a {
      @include index.text-link;
    }

    span {
      padding: 0 5px;
    }
  }

  .line {
    border-left: 1px solid index.$primary-light-color;
    margin-left: index.$m-margin;

    @include index.desktop {
      margin: 0 auto;
      width: 50%;
    }

    @include index.large-desktop {
      margin: 0 auto;
      width: 50%;
    }
  }

  .date {
    margin-left: -10px;
    padding: index.$xs-margin 0;
    background-color: index.$primary-dark-color;

    .year {
      font-size: 1.15rem;
      font-weight: 600;

      @include index.desktop {
        font-size: 1.25rem;
      }

      @include index.large-desktop {
        font-size: 1.6rem;
      }
    }

    .day-month {
      font-size: 1.1rem;
      font-weight: 300;

      @include index.desktop {
        font-size: 1.2rem;
      }

      @include index.large-desktop {
        font-size: 1.4rem;
      }
    }
  }

  .event-wrapper {
    margin: index.$s-margin 0;

    @include index.tablet {
      margin: index.$m-margin 0;
    }

    @include index.desktop {
      margin: index.$base-margin 0;
    }

    @include index.large-desktop {
      margin: index.$base-margin 0;
    }
  }

  .main-event {
    @include index.fullwidth-main-card;

    margin-left: -25px;

    .info {
      font-size: 1rem;
      font-weight: 300;

      @include index.desktop {
        font-size: 1.1rem;
      }

      @include index.large-desktop {
        font-size: 1.3rem;
      }
    }

    .info-block {
      display: block;
      font-size: 1rem;
      font-weight: 300;

      @include index.desktop {
        font-size: 1.1rem;
      }

      @include index.large-desktop {
        font-size: 1.3rem;
      }
    }

    .info-block-with-description {
      display: block;
      padding-top: index.$xs-margin;
      font-size: 1rem;
      font-weight: 300;

      @include index.desktop {
        font-size: 1.1rem;
      }

      @include index.large-desktop {
        font-size: 1.3rem;
      }
    }
  }

  .company-event {
    margin-left: -25px;
    border-radius: index.$border-radius;
    border: 1px solid index.$primary-light-color;
    background-color: index.$primary-medium-color;

    p {
      padding: index.$s-margin;
      line-height: 1.4rem;

      @include index.desktop {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }

      @include index.large-desktop {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }

    img {
      max-width: calc(100% - 1px);
      width: 100%;
      border: 1px solid index.$primary-light-color;
      border-top-right-radius: index.$border-radius;
      border-top-left-radius: index.$border-radius;
      filter: grayscale(100%);
    }
  }

  .tunneller-event-with-title {
    @include index.fullwidth-main-card;

    margin-left: -10px;
    border-bottom: 1px solid index.$primary-light-color;
    background-color: index.$primary-dark-color;
  }

  .tunneller-event {
    @include index.fullwidth-secondary-card;

    margin-left: -10px;
    border-bottom: 1px solid index.$primary-light-color;
    background-color: index.$primary-dark-color;

    p {
      font-size: 1rem;

      @include index.desktop {
        font-size: 1.1rem;
      }

      @include index.large-desktop {
        font-size: 1.3rem;
      }
    }

    span {
      font-weight: 300;
    }
  }
}
