@use 'src/index.scss';

.paragraph {
  margin: 0 auto;

  p {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.8rem;

    @include index.desktop {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }

  a {
    font-size: 0.9rem;
    vertical-align: super;
    line-height: 80%;
    color: index.$secondary-color;
  }

  @include index.desktop {
    margin: 0 auto;
    width: 42rem;
  }
}
