@use 'src/index.scss';

.container {
  @include index.component-margin;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin: index.$m-margin 0;
  }

  img {
    border-radius: index.$border-radius;
  }

  .chapter-title {
    margin: 26.8px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include index.tablet {
      margin: 32.16px 0;
    }

    @include index.desktop {
      margin: 37.52px 0;
    }

    @include index.large-desktop {
      margin: 53.6px 0;
    }
  }

  .chapter-number {
    font-size: 2.5rem;
    font-weight: 600;

    @include index.tablet {
      font-size: 3rem;
    }

    @include index.desktop {
      font-size: 3.5rem;
    }

    @include index.large-desktop {
      font-size: 5rem;
    }
  }

  .image-container {
    margin: index.$base-margin 0;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    @include index.large-desktop {
      margin: index.$xl-margin 0;
      height: 50vh;
    }
  }

  .image-legend {
    margin-bottom: index.$base-margin;
    text-align: center;

    .title {
      margin-top: -20px;
      margin-bottom: 10px;
      font-size: 1.15rem;
      font-weight: 600;
      color: index.$secondary-color;

      @include index.tablet {
        font-size: 1.25rem;
      }

      @include index.desktop {
        margin-bottom: 12.5px;
        font-size: 1.35rem;
      }

      @include index.large-desktop {
        margin-bottom: index.$s-margin;
        font-size: 1.5rem;
      }
    }

    .captions {
      margin-bottom: 5px;
      font-size: 0.9rem;
      font-style: italic;

      @include index.tablet {
        font-size: 1rem;
      }

      @include index.desktop {
        font-size: 1rem;
      }

      @include index.large-desktop {
        font-size: 1.2rem;
      }
    }

    .reference {
      font-size: 0.9rem;
      font-style: italic;

      @include index.tablet {
        font-size: 1rem;
      }

      @include index.desktop {
        font-size: 1rem;
      }

      @include index.large-desktop {
        font-size: 1.2rem;
      }
    }

    @include index.large-desktop {
      margin-bottom: index.$xl-margin;
    }
  }
}

.link {
  margin-top: index.$base-margin;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;

  @include index.desktop {
    margin-top: index.$l-margin;
  }

  @include index.large-desktop {
    margin-top: index.$xl-margin;
    font-size: 1.25rem;
  }

  a {
    @include index.text-link;
  }

  span {
    padding: 0 5px;
  }
}

.sub-title {
  font-weight: 300;
  line-height: normal;
}

.title {
  padding-top: 8px;
  display: block;
}

.article {
  .paragraph {
    margin: 0 auto;

    p {
      font-size: 1.15rem;
      font-weight: 300;
      line-height: 1.8rem;

      @include index.desktop {
        font-size: 1.25rem;
        line-height: 2.1rem;
      }

      @include index.large-desktop {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }

    a {
      font-size: 0.9rem;
      vertical-align: super;
      line-height: 80%;
      color: index.$secondary-color;
    }

    @include index.desktop {
      @media screen and (min-width: 62rem) and (max-width: 106rem) {
        margin: 0 auto;
        width: 65%;
      }
    }

    @include index.large-desktop {
      margin: 0 auto;
      width: 65%;
    }
  }
}

.notes {
  margin: index.$base-margin 0;

  p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.25rem;

    @include index.desktop {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }

    @include index.large-desktop {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  a {
    color: index.$secondary-color;
  }

  @include index.desktop {
    @media screen and (min-width: 62rem) and (max-width: 106rem) {
      margin: 0 auto;
      padding: index.$xs-margin 0;
      width: 65%;
    }
  }

  @include index.large-desktop {
    margin: 0 auto;
    padding: index.$m-margin 0;
    width: 65%;
  }
}
