@use 'src/index.scss';

.container {
  @include index.component-margin;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin: index.$m-margin 0;
  }

  .link {
    margin-top: index.$base-margin;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;

    @include index.desktop {
      margin: 0 auto;
      margin-top: index.$l-margin;
      margin-bottom: 53.6px;
      width: index.$inner-width;
    }

    @include index.large-desktop {
      margin-top: index.$xl-margin;
      font-size: 1.25rem;
    }

    a {
      @include index.text-link;
    }

    span {
      padding: 0 5px;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: index.$base-margin 0;
  gap: index.$xs-margin;

  @include index.tablet {
    padding: index.$base-margin 0;
  }

  @include index.desktop {
    padding: index.$l-margin 0;
    width: index.$inner-width;
  }

  @include index.large-desktop {
    padding: index.$xl-margin 0;
    width: 65%;
  }
}

.link-container {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include index.primary-button-link;

  p {
    text-align: left;
  }

  .link-button {
    flex: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: index.$m-margin;
    font-size: 1.5rem;
    color: index.$secondary-color;

    p {
      margin: 0 0 5px 0;
      font-size: 1.1rem;
      color: index.$secondary-color;

      @include index.desktop {
        font-size: 1.2rem;
      }

      @include index.desktop {
        font-size: 1.3rem;
      }

      @include index.large-desktop {
        font-size: 1.5rem;
      }
    }

    span {
      font-weight: 600;
    }

    .chapter-title-left {
      text-align: end;
    }

    @include index.tablet {
      padding: index.$m-margin;
      font-size: 1.75rem;
    }

    @include index.desktop {
      padding: index.$padding-card;
      font-size: 1.8rem;
    }

    @include index.large-desktop {
      padding: index.$base-margin;
      font-size: 2rem;
    }
  }
}
