@use 'src/index.scss';

.notes {
  margin: index.$base-margin 0;

  p {
    @include index.notes-paragraph
  }

  a {
    color: index.$secondary-color;
  }

  @include index.desktop {
    margin: 0 auto;
    padding: index.$xs-margin 0;
    width: 42rem;
  }
}
