@use 'src/index.scss';

.notes {
  margin: index.$base-margin 0;

  p {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.25rem;

    @include index.desktop {
      font-size: 1.1rem;
      line-height: 1.9rem;
    }
  }

  a {
    color: index.$secondary-color;
  }

  @include index.desktop {
    margin: 0 auto;
    padding: index.$xs-margin 0;
    width: 42rem;
  }
}
