@use 'src/index.scss';

.description {
  margin-block-start: 100px;
}

.description p {
  font-size: 1.25rem;
  color: index.$tertiary-color;

  @include index.tablet {
    font-size: 1.5rem;
  }

  @include index.desktop {
    font-size: 1.75rem;
  }
}
