@use 'src/index.scss';

.diary {
  width: 100%;
  margin: 2 * index.$base-margin 0;
  font-weight: 600;
  color: index.$text-color;
  text-align: left;

  @include index.tablet {
    margin-top: 1.5 * index.$base-margin;
  }

  @include index.desktop {
    margin-top: 0;
  }

  @include index.large-desktop {
    margin-top: 0;
  }
}

.fullwidth-main-card {
  @include index.fullwidth-main-card;
}

.fullwidth-secondary-card {
  @include index.fullwidth-secondary-card;
}

.halfwidth-cards-container {
  @include index.halfwidth-cards-container;
}

.halfwidth-main-card {
  @include index.halfwidth-card-style;
  @include index.halfwidth-main-card;
}

.halfwidth-secondary-card {
  @include index.halfwidth-card-style;
  @include index.halfwidth-secondary-card;
}

.halfwidth-secondary-card-title {
  @include index.halfwidth-secondary-card-title;
}

li {
  list-style: none;
}
