@use 'src/index.scss';

.diary {
  width: 100%;
  margin-top: index.$profile-margin-top;
  padding-bottom: 50px;
  font-family: index.$main-font;
  font-stretch: 85%;
  font-weight: 600;
  color: index.$text-color;
  text-align: left;
  letter-spacing: 1px;
  border-bottom: index.$profile-border-bottom;
}

.fullwidth-main-card {
  max-width: 100%;
  margin: 15px 0;
  padding: 20px;
  font-size: 1.25rem;
  background-color: index.$secondary-color;
  border-radius: index.$border-radius;

  @include index.tablet {
    font-size: 1.625rem;
  }

  @include index.desktop {
    font-size: 1.875rem;
  }
}

.halfwidth-cards-container {
  display: flex;
  gap: 15px;
}

@mixin halfwidth-card-style {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 20px;
}

.halfwidth-main-card {
  @include halfwidth-card-style;

  justify-content: flex-end;
  font-size: 1.25rem;
  background-color: index.$secondary-color;
  border-radius: index.$border-radius;

  @include index.tablet {
    font-size: 1.625rem;
  }

  @include index.desktop {
    font-size: 1.875rem;
  }
}

.halfwidth-secondary-card {
  @include halfwidth-card-style;

  justify-content: space-between;
  font-size: 1.1rem;
  border: 1px solid index.$secondary-color;
  border-radius: index.$border-radius;

  @include index.tablet {
    font-size: 1.475rem;
  }

  @include index.desktop {
    font-size: 1.725rem;
  }
}

.halfwidth-secondary-card-title {
  padding-bottom: 15px;
}
