@use 'src/index.scss';

.diary {
  width: 100%;
  margin-bottom: index.$m-margin;
  font-weight: 600;
  color: index.$text-color;
  text-align: left;

  p {
    margin: 0;
  }

  .fullwidth-main-card {
    @include index.fullwidth-main-card;
  }

  .fullwidth-secondary-card {
    @include index.fullwidth-secondary-card;
  }

  .halfwidth-cards-container {
    @include index.halfwidth-cards-container;
  }

  .halfwidth-main-card {
    @include index.halfwidth-card-style;
    @include index.halfwidth-main-card;
  }

  .halfwidth-secondary-card {
    @include index.halfwidth-card-style;
    @include index.halfwidth-secondary-card;
  }

  .halfwidth-secondary-card-title {
    @include index.halfwidth-secondary-card-title;
  }
}
