@use 'src/index.scss';

.chapter-title {
  margin: 26.8px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;

  .sub-title {
    font-weight: 300;
    line-height: normal;
  }

  .title {
    padding-top: 8px;
    display: block;
  }

  @include index.tablet {
    margin: 32.16px 0;
  }

  @include index.desktop {
    margin: 37.52px 0;
  }

  @include index.large-desktop {
    margin: 53.6px 0;
  }
}

.chapter-number {
  font-size: 2.5rem;
  font-weight: 600;

  @include index.tablet {
    font-size: 3rem;
  }

  @include index.desktop {
    font-size: 3.5rem;
  }

  @include index.large-desktop {
    font-size: 5rem;
  }
}
