@use 'src/index.scss';

.homepage {
  @include index.component-margin;
}

.homepage-container {
  margin: 0 auto;
  width: index.$inner-width;
}

.intro {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: left;

    @include index.tablet {
      font-size: 3rem;
      line-height: 3rem;
    }

    @include index.desktop {
      font-size: 3.75rem;
      line-height: 3.75rem;
    }
  }
}
