@use 'src/index.scss';

.container {
  @include index.component-margin;

  margin-top: index.$l-margin;
  margin-bottom: 40px;

  .header {
    margin-bottom: index.$l-margin;

    @include index.tablet {
      margin-top: index.$xl-margin;
    }

    @include index.desktop {
      margin-bottom: 125px;
    }
  }

  a {
    @include index.text-link;

    font-size: 1.15rem;
    font-weight: 500;
    vertical-align: baseline;
    line-height: 100%;

    @include index.desktop {
      font-size: 1.25rem;
      line-height: 2.25rem;
    }
  }

  @include index.tablet {
    margin-top: index.$xl-margin;
  }

  @include index.desktop {
    margin-top: index.$xxl-margin;
  }
}

.image-container {
  display: flex;
  margin: index.$base-margin 0;
  max-width: index.$inner-width;
  justify-content: center;
  align-items: center;

  @include index.tablet {
    margin: index.$l-margin 0;
  }

  @include index.desktop {
    margin: 0 auto;
    margin-top: index.$xl-margin;
    margin-bottom: index.$xl-margin;
  }
}

.image {
  object-fit: cover;
  object-position: center;
  height: 460px;
  width: 100%;
  border-radius: index.$border-radius;

  @include index.tablet {
    height: 515px;
  }

  @include index.desktop {
    height: 575px;
    max-width: index.$inner-width;
  }
}
