@use 'src/index.scss';

.footer {
  padding: index.$lg-margin 0 index.$base-margin 0;
  letter-spacing: 1px;

  @include index.component-setup;
}

.footer-links-container {
  margin-top: index.$md-margin;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  @include index.tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer-links {
  flex-grow: 1;
  padding: 10px 0;
}

.footer-links a {
  font-size: 1rem;
  font-weight: 400;
  color: index.$secondary-color;
}
