@use 'src/index.scss';

.footer {
  font-weight: 600;
  margin: index.$base-margin index.$xs-margin index.$xs-margin;
  padding: index.$xs-margin;
  border-radius: index.$border-radius;
  background-color: rgb(34, 36, 37);

  @include index.tablet {
    margin: index.$base-margin index.$m-margin index.$m-margin;
  }

  .support {
    p {
      margin: 0;
    }

    img {
      width: 105px;
      text-align: center;
    }

    .fullwidth-main-card {
      @include index.fullwidth-main-card;

      margin-top: 0;
      background-color: index.$primary-medium-color;
    }

    .halfwidth-cards-container {
      @include index.halfwidth-cards-container;
    }

    .halfwidth-secondary-card {
      @include index.halfwidth-card-style;
      @include index.halfwidth-secondary-card;
      @include index.featured-button-link;

      justify-content: center;
      align-content: center;
    }

    .halfwidth-secondary-card-title {
      @include index.halfwidth-secondary-card-title;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;

    p {
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
      color: index.$secondary-color;
    }

    .fullwidth-main-card {
      @include index.featured-button-link;

      margin: 0 index.$xs-margin 0 0;
      width: 100%;
    }

    .scroll-top {
      width: fit-content;
      padding: 6px 22px;
      font-family: index.$main-font;
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
      color: index.$secondary-color;

      @include index.featured-button-link;
    }
  }
}
