@use 'src/index.scss';

.description {
  margin-top: index.$profile-margin-top;
  padding-bottom: 50px;
  border-bottom: index.$profile-border-bottom;

  @include index.desktop {
    margin-top: 0;
    font-size: 1.25rem;
  }
}

.description p {
  font-size: 1.15rem;

  @include index.tablet {
    font-size: 1.2rem;
  }

  @include index.desktop {
    font-size: 1.25rem;
  }
}
