@use 'src/index.scss';

.war-service {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: index.$xs-margin 0;
  padding: index.$s-margin;
  font-size: 1.25rem;
  color: index.$secondary-color;

  @include index.featured-button-link;

  p {
    padding-bottom: index.$xxs-margin;
    color: index.$secondary-color;
  }

  @include index.desktop {
    padding: index.$padding-card;
    flex: 50%;
  }
}
