@use 'src/index.scss';

.war-service {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 20px;
  font-size: 1.25rem;
  color: index.$secondary-color;

  @include index.featured-button-link;

  @include index.desktop {
    padding: 30px 30px 27px 30px;
    flex: 50%;
  }
}

.war-service p {
  color: index.$secondary-color;
}
