@use "src/index.scss";

.roll {
  @include index.component-setup;
}

.letter-container {
  margin: 75px 0;
  width: 75px;
  border-radius: index.$border-radius;
  background-color: index.$tertiary-color;

  @include index.tablet {
    width: 112px;
  }

  @include index.desktop {
    width: 150px;
  }
}

.letter-title {
  padding: 12px 0 5px 0;
  font-size: 50px;
  font-stretch: 85%;
  font-weight: 700;
  color: index.$primary-color;
  text-align: center;

  @include index.tablet {
    padding: 13px 0 3px 0;
    font-size: 88px;
  }

  @include index.desktop {
    padding: 16px 0 0 0;
    font-size: 125px;
  }
}

.tunnellers-container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include index.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.tunneller {
  flex: 100%;
  padding: 25px 25px 22px 25px;
  color: index.$tertiary-color;
  text-align: left;
  border: 1px solid index.$secondary-color;
  border-radius: index.$border-radius;
  text-decoration: none;
  transition: border-color 0.9s ease-in-out, border-color 0.9s ease-in-out;

  @include index.tablet {
    padding: 30px 30px 27px 30px;
  }

  @include index.desktop {
    padding: 40px 40px 35px 40px;
    flex: 50%;
  }

  &:hover {
    border: 1px solid index.$tertiary-color;
  }
}

.surname {
  margin: 0;
  font-size: 30px;
  font-stretch: 85%;
  font-weight: 700;
  letter-spacing: 1px;

  @include index.tablet {
    font-size: 40px;
  }

  @include index.desktop {
    font-size: 50px;
  }
}

.forename {
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  font-stretch: 85%;
  letter-spacing: 1px;

  @include index.tablet {
    font-size: 28px;
  }

  @include index.desktop {
    font-size: 35px;
  }
}

.serial {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-stretch: 85%;
  font-weight: 200;
  letter-spacing: 2px;

  @include index.tablet {
    margin-top: 20px;
    font-size: 18px;
  }

  @include index.desktop {
    margin-top: 25px;
    font-size: 20px;
  }
}
