@use 'src/index.scss';

.alphabet-container {
  @include index.component-setup;
}

.alphabet {
  width: 100%;
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  justify-content: space-between;
  grid-gap: 15px;

  @include index.tablet {
    grid-template-columns: repeat(auto-fill, 33px);
  }

  @include index.desktop {
    margin: 75px 0;
    grid-template-columns: repeat(auto-fill, 33px);
    grid-gap: 25px;
  }
}

.alphabet-letter {
  padding: 8px 0 5px 0;
  width: 30px;
  font-family: index.$main-font;
  font-size: 1rem;
  font-stretch: 85%;
  font-weight: 600;
  color: index.$secondary-color;
  text-align: center;
  text-decoration: none;

  @include index.primary-button-link;

  @include index.tablet {
    width: 33px;
    font-size: 1.125rem;
  }

  @include index.desktop {
    width: 33px;
    font-size: 1.125rem;
  }
}
