@use 'src/index.scss';

.alphabet-container {
  @include index.component-margin;

  h1 {
    text-align: left;
  }

  .sub-title {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    font-stretch: 90%;
    line-height: normal;

    @include index.tablet {
      font-size: 2rem;
    }

    @include index.desktop {
      font-size: 3rem;
    }

    @include index.large-desktop {
      font-size: 4rem;
    }
  }

  .roll-container {
    display: block;

    @include index.desktop {
      display: flex;
      gap: index.$l-margin;
    }

    @include index.large-desktop {
      display: flex;
      gap: index.$xxl-margin;
    }
  }

  .alphabet {
    margin: index.$base-margin 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    justify-content: space-between;
    grid-gap: index.$xs-margin;

    @include index.tablet {
      margin: index.$l-margin 0;
      grid-template-columns: repeat(auto-fill, 32.5px);
    }

    @include index.desktop {
      margin: 0;
      width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: index.$xs-margin;
      justify-content: flex-start;
      align-content: flex-start;
    }

    @include index.large-desktop {
      margin: 0;
      width: 40%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: index.$xs-margin;
      justify-content: flex-start;
      align-content: flex-start;
    }

    .letter {
      padding: 8px 0 5px 0;
      width: 30px;
      font-family: index.$main-font;
      font-size: 1rem;
      font-stretch: 85%;
      font-weight: 600;
      color: index.$secondary-color;
      text-align: center;
      text-decoration: none;

      @include index.primary-button-link;

      @include index.tablet {
        width: 35px;
        font-size: 1.25rem;
      }

      @include index.desktop {
        width: 45px;
        font-size: 1.5rem;
      }

      @include index.large-desktop {
        width: 45px;
        font-size: 1.625rem;
      }
    }
  }

  @include index.tablet {
  }

  @include index.desktop {
    margin-top: index.$xxxl-margin;
  }

  @include index.large-desktop {
    margin-top: index.$xxxl-margin;
  }
}
