@use 'src/index.scss';

.sources {
  margin-top: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid index.$secondary-color;
}

.sources p {
  margin: 25px 0;
}

.sources ul {
  list-style: none;
}

.sources a {
  @include index.text-link;
}
