@use 'src/index.scss';

.overview {
  margin-top: index.$profile-margin-top;
  padding-bottom: 25px;
  border-bottom: index.$profile-border-bottom;

  @include index.desktop {
    border-bottom: none;
  }
}

.overview-group {
  margin: 10px 0;
  padding: 10px 0;
}

.overview-title {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 400;

  @include index.tablet {
    font-size: 1.2rem;
  }

  @include index.desktop {
    font-size: 1.25rem;
  }
}

.surname {
  margin: 0;
}

.forename {
  display: block;
  margin: 0;
  font-weight: 300;
}

.dates {
  margin: 15px 0;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 2px;

  @include index.tablet {
    font-size: 1.2rem;
  }

  @include index.desktop {
    font-size: 1.3rem;
  }
}

p {
  margin: 0;
}
