@use 'src/index.scss';

.header {
  text-align: center;
  margin-bottom: index.$medium-margin;

  @include index.desktop {
    text-align: left;
  }

  @include index.large-desktop {
    text-align: left;
  }
}

.surname {
  display: block;
}

.forename {
  font-weight: 300;
}

.dates {
  margin-top: 50px;
  font-size: 1.25rem;
  font-weight: 300;

  @include index.tablet {
    font-size: 1.5rem;
  }

  @include index.desktop {
    font-size: 1.5rem;
  }

  @include index.large-desktop {
    font-size: 1.625rem;
  }
}

.overview {
  margin-top: index.$large-margin;
  font-weight: 600;
  color: index.$text-color;
  text-align: left;

  @include index.tablet {
    margin-top: index.$extra-large-margin;
  }
}

.fullwidth-main-card {
  @include index.fullwidth-main-card;
}

.halfwidth-cards-container {
  @include index.halfwidth-cards-container;
}

.halfwidth-secondary-card {
  background-color: index.$primary-medium-color;

  @include index.halfwidth-card-style;
  @include index.halfwidth-secondary-card;
}

.halfwidth-secondary-card-title {
  @include index.halfwidth-secondary-card-title;
}

p {
  margin: 0;
}
