@use 'src/index.scss';

.header {
  text-align: center;
  margin: 0;
}

.surname {
  display: block;
}

.dates {
  margin: 15px 0;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;

  @include index.tablet {
    font-size: 1.5rem;
  }

  @include index.desktop {
    font-size: 1.75rem;
  }
}

.overview {
  overflow-x: scroll;
  margin-top: 75px;
  padding-bottom: 25px;

  @include index.desktop {
    margin-top: 25px;
    border-bottom: none;
  }
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  min-width: fit-content;
  padding: 15px 18px 12px 18px;
  white-space: nowrap;
  text-align: left;
}

th {
  font-size: 0.9rem;
  font-weight: 600;
  color: index.$text-color;
  line-height: 1.5;
  font-stretch: 80%;

  @include index.tablet {
    font-size: 1rem;
  }

  @include index.desktop {
    font-size: 1rem;
  }
}

tr:first-child th:first-child {
  border-top-left-radius: index.$border-radius;
  border: 1px solid index.$primary-light-color;
}

tr:first-child th:last-child {
  border-top-right-radius: index.$border-radius;
  border: 1px solid index.$primary-light-color;
}

tr:first-child th:nth-child(2) {
  border-top: 1px solid index.$primary-light-color;
  border-bottom: 1px solid index.$primary-light-color;
}

tr:last-child td:nth-child(2) {
  border-bottom: 1px solid index.$primary-light-color;
}

tr:last-child td:first-child {
  border-bottom-left-radius: index.$border-radius;
  border-left: 1px solid index.$primary-light-color;
  border-right: 1px solid index.$primary-light-color;
  border-bottom: 1px solid index.$primary-light-color;
}

tr:last-child td:last-child {
  border-bottom-right-radius: index.$border-radius;
  border-left: 1px solid index.$primary-light-color;
  border-right: 1px solid index.$primary-light-color;
  border-bottom: 1px solid index.$primary-light-color;
}

p {
  margin: 0;
}
